# Expo / EAS
EXPO_PROJECT_ID=

# App runtime - Max Seg
MAXSEG_AUTH_SECRET=
MAXSEG_API_KEY=
MAXSEG_ADMIN_KEY=
MAXSEG_PUBLIC_BASE_URL=
EXPO_PUBLIC_API_URL=
MAXSEG_CORS_ORIGIN=

# Expo public vars
EXPO_PUBLIC_APP_ID=
EXPO_PUBLIC_OAUTH_PORTAL_URL=
EXPO_PUBLIC_OAUTH_SERVER_URL=
EXPO_PUBLIC_OWNER_OPEN_ID=
EXPO_PUBLIC_OWNER_NAME=
